
<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
        xmlns:text-transform="http://www.w3.org/1999/xhtml"></script>
<!--

    Template Name: YurtBUL
    Author: <a href="http://www.os-templates.com/">OS Templates</a>
    Author URI: http://www.os-templates.com/
    Licence: Free to use under our free template licence terms
    Licence URI: http://www.os-templates.com/template-terms
    -->
  <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block keywords %}{{ veri[0].keywords }}{% endblock %}
        {% block description %}{{ veri[0].description }}{% endblock %}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('admin') }}/images/logoo.png">
        <title>{{ veri[0].title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
        <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>
    </head>
    <body id="top">
    <div class="bgded overlay" style="background-image:url('https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/07/26/Pictures/_60b7ed1a-90ec-11e8-90d0-8f805b857cc7.jpg');" >
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <!-- ################################################################################################ -->
                <header id="header" class="hoc clear" style="margin-top: 20px">
                    <!-- ################################################################################################ -->
                    <div id="logo" class="fl_left">
                        <h1><a href="/yurtekrani">YurtBUL|Yurt</a></h1>
                    </div>
                    <nav id="mainav" class="fl_right">
                        <ul class="clear">
                            <li><a href="/yurtekrani"><i class="fa fa-lg fa-home"></i></a></li>
                            <li><a href="/view">Yurtlar</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                    <li> <a  href="#"> <img src="../images/kisi1.png" width="200" height="70"/>{{ app.user.name }}</a>
                                        <ul>
                                            <li><a href="{{ path('yurtuser') }}" class="btn btn-danger btn-flat " >Profil</a></li>
                                            <li> <a href="{{ path('app_logout') }}" class="btn btn-danger btn-flat ">Çıkış Yap</a></li>
                                        </ul>
                                    </li>
                            {% else %}

                                <li ><a href="{{ path('app_login') }}">Giris Yap</a></li>
                                <li ><a href="{{ path('kaydol') }}">Üye Ol</a></li>

                            {% endif %}
                            <li><a href=""> <img src="../images/b.png" width="200" height="70"  /></a>

                                <ul>
                                    <li><a href="{{path('hakkimizda')}}">Hakkımızda</a></li>
                                    <li><a href="{{path('iletisim')}}">İletişim</a></li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- ################################################################################################ -->
                </header>
            </header>
        </div>
    </div>
    <div class="wrapper row2">
        <div id="breadcrumb" class="hoc clear">
            <!-- ################################################################################################ -->
            <ul>
                <li><a href="/yurtekrani">Home</a></li>
                <li><a href="/iletisim">İletişim</a></li>

            </ul>
            <!-- ################################################################################################ -->
        </div>
    </div>


    <div class="wrapper row3" >
        <main class="hoc container clear">

            <div class="content three_quarter first">

                <h2 >İletişim</h2>

                <p> {{ veri[0].contact|raw }} </p>
            </div>

            <div class="sidebar one_quarter">

                    <h2>Bize Ulaşın</h2>
                {{ include('admin/mesaj.html.twig') }}
                    <form action="" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="iletisim_mesaj[email]">
                        </div>

                        <div class="form-group">
                            <label for="">Ad</label>
                            <input  class="form-control"  placeholder="Adınız" name="iletisim_mesaj[ad]">
                        </div>
                        <div class="form-group">
                            <label for="">Konu</label>
                            <input  class="form-control"  placeholder="Konu" name="iletisim_mesaj[konu]">
                        </div>
                        <div class="form-group">
                            <label for="">Mesajınız</label>
                            <textarea class="form-control"  placeholder="Mesaj yazınız" name="iletisim_mesaj[mesaj]">  </textarea>
                        </div>
                        <input  type="hidden"  name="token" value="{{csrf_token('form-message') }}">
                        <button type="submit" class="btn btn-primary  pull-right btn-sm">Gönder</button>
                    </form>
                </div>


            <div class="clear"></div>
        </main>
    </div>
    <div class="bgded overlay" style="background-image: url('https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/07/26/Pictures/_60b7ed1a-90ec-11e8-90d0-8f805b857cc7.jpg');">
        <!-- ################################################################################################ -->
        <div class="wrapper row4">
            <footer id="footer" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="btmspace-50 center">
                    <h2 class="heading">YurtBUL </h2>

                </div>
                <ul class="">
                    <ul class="nospace group">
                        <li class="one_quarter first">
                            <div class="infobox">
                            </div>
                        </li>

                        <li class="one_quarter ">
                            <div class="infobox"><i class="fa fa-support"></i>
                                <ul class="nospace">
                                    <li><a href="{{path('hakkimizda')}}">Hakkımızda</a></li>
                                    <p>Firma Olarak Biz</p>
                                </ul>
                            </div>
                        </li>

                        <li class="one_quarter">
                            <div class="infobox"><i class="fa fa-envelope-o"></i>
                                <ul class="nospace">
                                    <li><a href="{{path('iletisim')}}">İletişim</a></li>
                                    <p>Bize Ulaşın</p>
                                </ul>
                            </div>
                        </li>
                        <li class="one_quarter">
                            <div class="infobox">

                            </div>
                        </li>

                    </ul>
                </ul>
                <!-- ################################################################################################ -->
            </footer>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <nav class="quicklinks row4">
            <ul class="hoc clear">
                <li><a href="/yurtekrani"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a href="/view">Yurtlar</a></li>


            </ul>
        </nav>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                <!-- ################################################################################################ -->

                <!-- ################################################################################################ -->
            </div>
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- End Footer Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="../layout/scripts/jquery.min.js"></script>
    <script src="../layout/scripts/jquery.backtotop.js"></script>
    <script src="../layout/scripts/jquery.mobilemenu.js"></script>
    <script src="../layout/scripts/js/jquery.js"></script>
    <script src="../layout/scripts/js/price-range.js"></script>
    <script src="../layout/scripts/js/jquery.scrollUp.min.js"></script>
    <script src="../layout/scripts/js/bootstrap.min.js"></script>
    <script src="../layout/scripts/js/jquery.prettyPhoto.js"></script>
    <script src="../layout/scripts/js/main.js"></script>
    </body>
    </html>