{% extends 'Adminbase.html.twig' %}
{% block title %}Shopping Admin Panel {% endblock %}
{% block content %}
    <div id="page-wrapper" style="min-height: 565px;">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Üye Listesi</h4> </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title"> Üye Bilgisi <small><a href="{{ path('admin_category_index') }}" class="btn btn-danger pull-right btn-sm   hidden-xs hidden-sm waves-effect waves-light"> Listeye Geri Dön</a></small>
                        </h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ category.id }}</td>
                                </tr>
                                <tr>
                                    <th>Parentid</th>
                                    <td>{{ category.parentid }}</td>
                                </tr>
                                <tr>
                                    <th>Title</th>
                                    <td>{{ category.title }}</td>
                                </tr>
                                <tr>
                                    <th>Keywords</th>
                                    <td>{{ category.keywords }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ category.description }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ category.status }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
