{{ include('admin/mesaj.html.twig') }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
        xmlns:text-transform="http://www.w3.org/1999/xhtml"></script>
<form method="post">

    <div class="form-group">
        <label for="">Ad</label>
        <input type="ad" name="yurt[title]" class="form-control" id=""   placeholder="Ad">
    </div>
    <div class="form-group">

        <input type="hidden" name="yurt[image]" class="form-control" value="usermid.png" id="" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="">Kategori</label>
        <div class="col-sm-20">
        <select  name="yurt[categoryid]"  class="form-control ">
            {% if(catname) %}
            <option value="{{ yurt.categoryid }}" >{{ yurt.categoryid }}</option>
            {% endif %}
            {% for cat in catlist %}
                <option value="{{ cat.id }}" > {{ cat.title }}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    {#
    <div class="form-group">

        <label  for="">Müdür</label>
        <div class="col-sm-20">
            <select name="yurt[yursahibid]"  class="form-control">
                <option vale="{{ yurt.yursahibid }}" >{{ yurt.yursahibid }}</option>
                {% for yurtt in mudurlist %}
                    <option value="{{ yurtt.id }}" > {{ yurtt.adsoyad }}</option>
                {% endfor %}

            </select>
        </div>
    </div>#}
    <div class="form-group">
        <label for="exampleInputPassword1">Adres</label>
        <input type="" class="form-control" name="yurt[adres]" id="exampleInputPassword1" placeholder="telefon gir">
    </div>


    <div class="form-group">
        <label for="">Şehir</label>
        <div class="col-sm-20">
            <select id="il" name="yurt[sehirid]" class="form-control">
                {% for sehir in sehirlist %}
                    <option value="{{ sehir.id }}" > {{ sehir.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="">İlçe</label>
        <div class="col-sm-20" >
            <select name="yurt[ilce]" id="ilce" class="form-control">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="">Telefon</label>
        <input type="ad" name="yurt[telefon]" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
    </div>

    {#<div class="form-group">
        <label for="">Tip</label><br>
        <input type="radio" name="yurt[tipid]" value="1"  checked="on"> Kız
        <input type="radio" name="yurt[tipid]" value="2"> Erkek<br>
    </div>
    <div class="form-group">
        <label for="">Tür</label><br>
        <input type="radio" name="yurt[turid]" value="1"  checked="on">Devlet
        <input type="radio" name="yurt[turid]" value="2"> Özel<br>
    </div>#}
    <div class="form-group">
        <label for="">Yıl</label>
        <input type="ad" name="yurt[yil]" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
        <label for="">Fiyat</label>
        <input type="ad" name="yurt[fiyat]" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
        <label for="">WebPage</label>
        <input type="ad" name="yurt[webpage]" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
        <label for="" >Açıklama</label><br>
        <textarea  name="yurt[aciklama]"  id="editor" rows="10" cols="100">{{ yurt.aciklama }}</textarea>

    </div>
    <div class="form-group">
        <label for="">Keyword</label>
        <input type="ad" name="yurt[keyword]" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <input type="ad" name="yurt[description]" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
        <label for="">Durum</label>
        <input type="radio" name="yurt[durum]" value="true"  checked="on"> true
        <input type="radio" name="yurt[durum]" value="false"> false<br>
    </div>

    <button type="submit" class="btn btn-primary  pull-left btn-sm">Kaydet</button>
</form>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script type="text/javascript" >

    $(document).ready(function () {
        $("#ilce").hide();
        $("#il").change(function () {
            var ilid=$(this).val();


            $.ajax({

                type:"POST",
                url:'/ilceler',

                data:{'il': ilid},
                success:function (e) {
                    $("#ilce").show();
                    $("#ilce").html(e);

                }

            })
        })
    })
</script>